
@font-face {
font-family: 'ProximaNova-Light';
src: url("/assets/fonts/ProximaNova-Light.otf") format("opentype");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'Zahrah Regular';
src: url("/assets/fonts/Zahrah Regular.otf") format("opentype");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'Dada Studio - Clavo Light';
src: url("/assets/fonts/Dada Studio - Clavo Light.otf") format("opentype");
font-style: normal;
font-weight: normal;
}
