<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container content">

      <!--This is the Header -->
      <header class="masthead">
        <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home" ><img width="30px" style="margin-right:10px;display:Inline;vertical-align:middle;" src="/assets/leojkwan.png"/></a>
        </h3>
      </header>

      <!-- // everything from index.html -->
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
