---
layout: default
---

<style>
  .categoryLink {
  font-family:"Joanna Nova Light";
  font-size:2em;
  }
</style>

<div class="page">
  {% if page.url == '/sports-training/' %}
    <div style="margin:0px 0px 10%;">
      <a class="categoryLink" href="{{ site.baseurl }}/sports-training/" title="Sports-performance">
        {{ page.title}}
      </a>
    </div>
  {% else %}
    <h1 style="font-family:Joanna Nova Light;" class="page-title">{{ page.title }}</h1>
  {% endif %}

  {{ content }}
</div>
